<br>
<div class="container">
    <button class="btn btn-primary">
        <a routerLink="/crear-propietario" routerLinkActive=true style="color: white; text-decoration: none;">Crear</a>
    </button>
    <br>
    <br>
    <div class="form-group">
        <label for="filtro">Filtrar por Nombre:</label>
        <input type="text" class="form-control" id="filtro" [(ngModel)]="filtro"
            placeholder="Ingrese el nombre del propietario">
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Identificación</th>
                <th>Fecha de nacimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let propietario of propietarios">
                <ng-container *ngIf="propietario.nombre.toLowerCase().includes(filtro.toLowerCase())">
                    <td>{{ propietario.id}}</td>
                    <td>{{ propietario.nombre }}</td>
                    <td>{{ propietario.apellido }}</td>
                    <td>{{ propietario.identificacion }}</td>
                    <td>{{ propietario.fechaNacimiento }} </td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="['/editar-propietario', propietario.id]"
                            routerLinkActive="active">editar</button> |
                        <button type="button" class="btn btn-info" data-toggle="modal"
                            data-target="#detallesPropietario" (click)="detallesPropietario(propietario.id)">
                            Detallles
                        </button>

                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="detallesPropietario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalles Propietario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="propietario">

                        <h5>Nombre Propietario: {{propietario.nombre}}</h5>


                    </div>
                    <h4>Vehículos:</h4>
                    <div class="card" *ngFor="let vehiculo of propietario.vehiculo">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Vehículo {{vehiculo.id}}</h6>
                            <p class="card-text">
                                <strong>Placa:</strong> {{vehiculo.placa}}
                            </p>
                            <p class="card-text">
                                <strong>Marca:</strong> {{vehiculo.marca}}
                            </p>
                            <p class="card-text">
                                <strong>Color:</strong> {{vehiculo.color}}
                            </p>
                            <!-- Agrega otros campos de vehículo si es necesario -->
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>